<h3>Secret Admin</h3>
<%= form_for @conn, "/admin/remove_inactive" do %>
  <button>Remove inactive players</button>
<% end %>

<%= form_for @conn, "/admin/force_restart" do %>
  <button>Force restart</button>
<% end %>
