/* This file is for your main application css. */

@import "./phoenix.css";
@import "./live_view.css";
@import "./pacman.css";
@import "./snake.css";
@import "./thermostat.css";

pre{
  padding: 1em;
}
.animated-sin-wave {
  position: relative;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.animated-sin-wave > .bar {
  position: absolute;
  height: 100%;
  border-radius: 50%;
  max-width:10px;
}

.animated-sin-wave-description {
  width:100%;
  text-align:center;
  font-size:0.8em;
  color:#747678;
  padding: 2em
}

.container.rainbow {
  max-width: 100%;
  text-align: center;
}

[data-phx-view]{
  padding: 1em;
}




.datalist-polyfill {
	list-style: none;
	display: none;
	background: white;
	box-shadow: 0 2px 2px #999;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	max-height: 300px;
	overflow-y: auto;
}

.datalist-polyfill:empty {
  display: none !important;
}

.datalist-polyfill > li {
  padding: 3px;
  font: 13px "Lucida Grande", Sans-Serif;
}

.datalist-polyfill__active {
  background: #3875d7;
  color: white;
}

.character-form {
  background-color: #eee;
  height: 300px;
  width: 300px;
  position: relative;

}

.character {
  position: relative;
  height: 120px;
  width: 120px;
}

.character.small {
  height: 40px;
  width: 40px;
}

.character .body, .character .eyes {
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.character.small .body, .character.small .eyes {
  height: 40px;
  width: 40px;
}

.character .eyes {
  z-index: 2;
}

.character-form .arrow {
  background-color: red;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 3;
}

.character-form .character {
  position: absolute;
  z-index: 0;
  left: 100px;
  top: 50px;
}

.character-form .eyes-left {
  left: -10px;
  top: 20px
}

.character-form .eyes-right {
  right: -10px;
  top: 20px
}

.character-form .body-left {
  left: -10px;
  top: 90px
}

.character-form .body-right {
  right: -10px;
  top: 90px
}
