/* This file is for your main application css. */

@import "./phoenix.css";
@import "./live_view.css";
@import "./snake.css";


.character-form {
  background-color: #eee;
  border: 3px solid #ddd;
  border-radius: 8px;
  height: 275px;
  width: 300px;
  position: relative;
}

.character-form button {
  top: 200px;
  position: relative;
}

.character {
  position: relative;
  height: 120px;
  width: 120px;
}

.character.small {
  height: 40px;
  width: 40px;
}

.character .body, .character .eyes {
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.character.small .body, .character.small .eyes {
  height: 40px;
  width: 40px;
}

.character .eyes {
  z-index: 2;
}

.character-form .arrow {
  color: #333;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #777;
  border-radius: 8px;
  height: 50px;
  text-align: center;
  padding-top: 9px;
  font-size: 20px;
  width: 50px;
  position: absolute;
  transition: 0.1s all ease-out;
  z-index: 3;
}

.character-form .arrow:hover {
  transform: scale(1.05, 1.05);
}

.character-form .arrow:active {
  transform: scale(0.96, 0.96);
}

.character-form .character {
  position: absolute;
  z-index: 0;
  left: 100px;
  top: 40px;
}

.character-form .eyes-left {
  left: -15px;
  top: 20px
}

.character-form .eyes-right {
  right: -15px;
  top: 20px
}

.character-form .body-left {
  left: -15px;
  top: 100px
}

.character-form .body-right {
  right: -15px;
  top: 100px
}
