html{
  overflow-x:hidden;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

body.game header {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  border-width: 0;
}

body.game header .part1 {
  opacity: 0.5;
}

.pull-right {
  float: right;
}

.game-url {
  padding: 0 20px 0 0;
}

.dpad{
  opacity: 0.5;
  font-size: 60px;
  color: blue;
  position: absolute;
  top: 70px;
  left: 80px;
  z-index: 999999;

}

.dpad .control{
  position: absolute;
}

.dpad .up{
  transform: rotate(-90deg);
  top: -60px;
  left: 0px;
}
.dpad .down{
  transform: rotate(90deg);
  top: 60px;
  left: -5px;
}
.dpad .right{
  top: 0px;
  left: 55px;
}
.dpad .left{
  transform: rotate(180deg);
  top: -5px;
  left: -60px;
}

.spaceship {
  background-color: rgb(248, 247, 242);
  border: 3px solid #ddd;
  border-color: rgb(227, 226, 221);
  border-radius: 8px;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.spaceship .character {
  position: absolute;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.spaceship #robot {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  line-height: 25px;
  height: 25px;
  width: 25px;
}

.spaceship .obstacle {
  background-clip: padding-box;
  border: 6px solid rgba(116, 170, 231, 0.562);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(116, 170, 231);
}

.spaceship .obstacle.obstacle-win {
  border: 6px solid rgb(250, 228, 157);
  background-color: rgb(248, 222, 107);
}

.spaceship .obstacle.obstacle-win::after {
  position: absolute;
  content: '🏆';
  font-size: 20px;
  left: 8px;
  top: 8px;
}

.spaceship .robot-control {
  background-color: rgb(222, 222, 207);
  /* border: 6px solid rgba(116, 170, 231, 0.562); */
  border-radius: 10px;
  position: absolute;
}

.spaceship .robot-control .emojis {
  opacity: 0.8;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  filter: grayscale(65%) brightness(120%) contrast(80%) sepia(50%);
}

.spaceship .robot-control.north {
  height: 60px;
  width: 120px;
  top: -10px;
  left: 90px;
}

.spaceship .robot-control.north .emojis {
  padding-top: 20px;
}

.spaceship .robot-control.south .emojis {
  padding-top: 16px;
}

.spaceship .robot-control.east .emojis {
  padding-left: 20px;
  padding-top: 40px;
  text-align: left;
}

.spaceship .robot-control.west .emojis {
  text-align: left;
  padding-left: 15px;
  padding-top: 40px;
}

.spaceship .robot-control.south {
  height: 60px;
  width: 120px;
  bottom: -10px;
  left: 90px;
}

.spaceship .robot-control.east {
  height: 120px;
  width: 60px;
  top: 90px;
  left: -10px;
}

.spaceship .robot-control.west {
  height: 120px;
  width: 60px;
  top: 90px;
  right: -10px;
}

