html{
  overflow-x:hidden;
}

body.game {
  background: #fff;
}


.dpad{
  opacity: 0.5;
  font-size: 60px;
  color: blue;
  position: absolute;
  top: 70px;
  left: 80px;
  z-index: 999999;

}

.dpad .control{
  position: absolute;
}

.dpad .up{
  transform: rotate(-90deg);
  top: -60px;
  left: 0px;
}
.dpad .down{
  transform: rotate(90deg);
  top: 60px;
  left: -5px;
}
.dpad .right{
  top: 0px;
  left: 55px;
}
.dpad .left{
  transform: rotate(180deg);
  top: -5px;
  left: -60px;
}

.spaceship {
  background-color: #eee;
  position: relative;
  width: 300px;
  height: 300px;
}

.spaceship .character {
  position: absolute;
  transition: 0.1s all ease-out;
}

/* Animation*/

@keyframes snake-spin1 {
  0%  {transform: rotate(0deg);}
  50%{transform: rotate(-35deg);}

}
@keyframes snake-spin2 {
  0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@-moz-keyframes snake-spin1 {
  0%  {transform: rotate(0deg);}
  50%{transform: rotate(-35deg);}

}
@-moz-keyframes snake-spin2 {
  0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@-webkit-keyframes snake-spin1 {
  0%  {transform: rotate(0deg);}
  50%{transform: rotate(-35deg);}

}
@-webkit-keyframes snake-spin2 {
  0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@keyframes eat {
  0% { box-shadow:
       100px 65px 0 0 white,
       300px 65px 0 0 white,
       500px 65px 0 0 white,
       700px 65px 0 0 white,
       900px 65px 0 0 white,
       1100px 65px 0 0 white,
       1300px 65px 0 0 white;}

  100% { box-shadow:
         0px 65px 0 0 white,
         100px 65px 0 0 white,
         300px 65px 0 0 white,
         500px 65px 0 0 white,
         700px 65px 0 0 white,
         900px 65px 0 0 white,
         1100px 65px 0 0 white;}
}


 @-moz-keyframes eat {
   0% { box-shadow:
        100px 65px 0 0 white,
        300px 65px 0 0 white,
        500px 65px 0 0 white,
        700px 65px 0 0 white,
        900px 65px 0 0 white,
        1100px 65px 0 0 white,
        1300px 65px 0 0 white;}

   100% { box-shadow:
          0px 65px 0 0 white,
          100px 65px 0 0 white,
          300px 65px 0 0 white,
          500px 65px 0 0 white,
          700px 65px 0 0 white,
          900px 65px 0 0 white,
          1100px 65px 0 0 white;}
 }



 @-webkit-keyframes eat {
   0% { box-shadow:
        100px 65px 0 0 white,
        300px 65px 0 0 white,
        500px 65px 0 0 white,
        700px 65px 0 0 white,
        900px 65px 0 0 white,
        1100px 65px 0 0 white,
        1300px 65px 0 0 white;}

   100% { box-shadow:
          0px 65px 0 0 white,
          100px 65px 0 0 white,
          300px 65px 0 0 white,
          500px 65px 0 0 white,
          700px 65px 0 0 white,
          900px 65px 0 0 white,
          1100px 65px 0 0 white;}
 }
