<section class="my-row">
  <article class="my-column">
    <h4>Control the robot</h4>
    <div class="character-form">
      <div class="arrow eyes-left">◄</div>
      <div class="arrow eyes-right">►</div>
      <div class="arrow body-left">◄</div>
      <div class="arrow body-right">►</div>

      <%= form_for @conn, Routes.page_path(@conn, :game) do %>
        <div class="character">
          <div class="eyes"></div>
          <div class="body"></div>
        </div>
        <input type="hidden" name="eyes" value="0">
        <input type="hidden" name="body" value="0">

        <center>
          <button>Enter the robot!</button>
        </center>
      <% end %>
    </div>
  </article>

  <article class="my-column">
    <h4>See robot's progress</h4>

    <form action="/robot">
      <button>Show obstacle course</button>
    </form>
  </article>
</section>

<section class="row how-to-play">
  <article class="column">
    <h4>How to play</h4>
    <ul>
      <li>Guide 🤖  to the 🏆 </li>
      <li>Control the 🤖  by stepping on the pressure plates</li>
    </ul>
  </article>
</section>

<section class="row about">
  <article class="column">
    <h4>About</h4>
    <ul>
      <li>Souce code on Github: <a target="_blank" href="https://github.com/archdragon/liveviewgame">archdragon/liveviewgame</a></li>
      <li>Find me on Twitter: <a target="_bank" href="https://twitter.com/SaneSquid">@SaneSquid</a></li>
      <li>Based on the <a target="_blank" href="https://github.com/phoenixframework/phoenix_live_view">Phoenix LiveView Demos</a></li>
    </ul>
  </article>
</section>
